<style>
    .root {
    box-sizing: border-box;
    display: flex;
    width: 1200px;
    height: 630px;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fcfcfd;
    font-weight: 400;
    font-style: 'normal';
    color: #252b31;
  }

  img {
    height: 150px;
    width: 150px;
  }

  .title {
    font-family: 'Inter Tight', sans-serif;
    font-size: 75px;
    line-height: 100%;
    margin: 0;
    font-weight: 500;
  }

  .description {
    font-family: 'Inter';
    font-size: 40px;
    overflow: hidden;
    margin: 0;
  }

  .footer {
    font-family: 'Inter';
    font-size: 40px;
    margin: 0;
    color: #909397;
  }
</style>

<div class="root">
  {# <span class="type">{{ type | safe }}</span> #}
  <img src="{{ (ogAvatarPath) }}" alt="OG Image">
  <h1 class="title">{{ title | safe }}</h1>
  <p class="description">{{ description | truncateWords(21) | safe }}</p>
  <span class="footer">Mathurin Sekine</span>
</div>
